.boards-page
  background alpha($main-bg, .3)
  min-height 100vh
  height 100%
  padding 50px

.boards-container
  display flex
  align-content flex-start
  flex-wrap wrap

  .add-board
    width 250px
    padding 10px

  .board-item
    width 250px
    padding 10px

    &:hover
      cursor pointer
      .body
        background $board-bg

      .controls
        bottom 0

    .board-preview
      border-radius 5px
      width 100%
      min-height 150px
      background alpha($board-bg, .8)
      padding 20px 10px 50px
      max-height 400px
      transition $fast
      overflow hidden
      position relative

      input.default
        margin-bottom 5px

      .board-info
        font-size 12px

      textarea
        fmax-height 250px
        width 100%
        border none
        border-radius 3px
        padding 10px 30px
        color #232323
        font-style normal


    .board-title
      text-align center

    .controls
      padding 10px
      position absolute
      bottom -100%
      left 0
      right 0
      display flex
      transition $fast

      > *
        flex-grow 1
        flex-basis 10px
        display block
        margin 0 5px

.single-board
  background alpha($main-bg, .3)
  min-height 100vh

  .border-head
    padding 10px 0
    text-align center
    font-size 25px
    color $main-bg
    font-weight 700

  .column-list
    display flex
    align-items flex-start

  .column-item
    padding 10px

  .column-container
    padding 10px
    width 250px
    border-radius 3px
    background $column-bg
    position relative

    .drop-area
      height 20px
      border-radius 3px
      transition height $fast

      &.active
        height 60px
        background #fff
        margin 10px 0

    &:hover
      > .remove-icon
        opacity .3

        &:hover
          opacity .8

    .remove-icon
      opacity 0

    .column-info
      font-size 12px

    .trans-input
      font-size 16px
      font-weight 600
      line-height 20px
      margin-top 3px
      margin-bottom 1px


  .task-list
    padding 0

  .task-preview
    padding 5px
    background #fff
    transition $fast
    border-radius 3px
    position relative


    &:hover
      cursor pointer
      background alpha(#232323, .1)
      .remove-icon
        opacity .3

    .remove-icon
      opacity 0
      &:hover
        opacity .8


    .time
      background $main-bg
      color #fff
      padding 2px 5px
      border-radius 2px
      font-size 12px
      display inline-block
      margin-right 5px

      &.norm
        background alpha(green, .5)

      &.warn
        background alpha(orange, .8)

      &.danger
        background alpha(red, .5)


    .title
      padding-bottom 10px

    .description
      max-height 100px
      overflow hidden
      text-overflow ellipsis
